#custom .container {
    max-width: 1024px;
    /* height: 4rem; */
    margin-left: auto;
    margin-right: auto;
}

#custom .card-group {
    height: 300px;
}

#custom .card-group .card {
    margin: 0 5px 10px;
}

#custom .card-group .card-text {
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: break-word;
}

#custom .card-group .card-img-con {
    height: 150px;
    overflow-y: hidden;
}